<form class="add-form" >
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add Task...">
    </div>
    <div class="form-control">
        <label for="text">Day & Time</label>
        <input type="text" name="Day" id="Day" placeholder="Add Day and Task...">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" placeholder="Add Day and Task...">
    </div>
    <input type="submit" name="" id="" class="btn btn-block">
</form>